MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-gmail-app-password
MAIL_FROM=your-email@gmail.com


DATABASE_USERNAME=dbusername
DATABASE_PASSWORD= dbpassword


MPESA_BASE_URL=https://sandbox.safaricom.co.ke
MPESA_CONSUMER_KEY=your-daraja-consumer-key
MPESA_CONSUMER_SECRET=your-daraja-consumer-secret
MPESA_SHORT_CODE=174379
MPESA_PASS_KEY=your-daraja-pass-key
MPESA_STK_CALLBACK_URL=https://your-public-domain/api/v1/payments/mpesa/stk-callback
MPESA_INITIATOR_NAME=your-b2c-initiator-name
MPESA_SECURITY_CREDENTIAL=your-b2c-security-credential
MPESA_B2C_COMMAND_ID=BusinessPayment
MPESA_B2C_RESULT_URL=https://your-public-domain/api/v1/payments/mpesa/b2c/result
MPESA_B2C_TIMEOUT_URL=https://your-public-domain/api/v1/payments/mpesa/b2c/queue


MPESA_B2C_SHORT_CODE=600000

FIREBASE_ENABLED=false
FIREBASE_CREDENTIALS_PATH=src/main/resources/firebase-service-account.json
FIREBASE_PROJECT_ID=mobile.project.escrowx